body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  background: #fcfaf7;
  height: 100vh;
  margin: 0;
  color: #343a40;
  text-align: center;
}

nav .nav-link {
    font-weight: 600;
    color: #343a40;
    opacity: 80%;
}

h1 {
font-weight: 600;
font-size: 50px;
line-height: 1.5;
margin-top: 30px;

}

h2 {
    line-height: 1.5;
}

p {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 30px;
    opacity: 85%;
}

button {
    margin-top: 20px;
    margin-bottom: 30px;
}

iframe {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 10px;
    border: solid;
    border-radius: 4px;
    border-color: #343a40;
  }

footer p {
    text-align: center;
    color: #343a40;
    font-size: 12px;
    padding: 10px;
    margin: 10px;
  }
  
  footer a {
    color: #295f4e;;
  }

.btn-primary {
    font-size: 18px;
    color: #fcfaf7;
    background-color: #295f4e ;
    border-radius: 4px;
    border: solid #295f4e;
    padding: 5px auto;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
  transition: 100ms ease-in-out;

}

.app-wrapper {
    max-width: 1100px;
    margin: 20px auto;
  }

.logo {
    width: 200px;
}


.card {
    border: none;
    background-color: #fcfaf7;
    border-radius: 4px;
    box-shadow: 0 5px 5px rgb(0 0 0 / 5%);
    padding: 5px;
    margin: 5px;
    margin-top: 20px;
    height: auto;
    width: 100%;
}

.card-title {
    font-size: 20px;
    font-weight: 600;
  }

  p.card-text {
    font-size: 16px;
    opacity: 85%;
  }



/* Homepage */
.hero-image {
    border-radius: 3px;
    margin-top: 30px;
    margin-bottom: 20px;
    max-width: 100%;
}

.experience-card {
    padding-bottom: 92px;
    padding-top: 90px;

}

/* Services */
.nav-btn {
    color: #fcfaf7;;
    line-height: 1;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #295f4e;
    opacity: 80%;
    margin-top: 5px;
  }

.services h2{
    font-weight: 600;
}

.services ul {
        text-align: left;
        margin-top: 20px;
}

.horizontal-card-one {
    text-align: right;
}

.horizontal-card-two {
    text-align: left;

}

/* Projects */
.projects a {
    color:#295f4e ;
}

.photos img {
    border-radius: 4px;
    margin-bottom: 20px;
    border: 1px solid #343a40;
  }