body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  background: #fcfaf7;
  height: 100vh;
  margin: 0;
  color: #343a40;
  text-align: center;
}

nav .nav-link {
    font-weight: 600;
    color: #343a40;
    opacity: 80%;
}

.nav-item:hover, .nav-item:focus, .nav-item:active, .nav-item, .open>.dropdown-toggle.nav-item {
  color:#295f4e;
}

h1 {
font-weight: 600;
font-size: 50px;
line-height: 1.5;
margin-top: 30px;

}

h2 {
    line-height: 1.5;
}

p {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 30px;
    opacity: 85%;
}

button {
    margin-top: 20px;
    margin-bottom: 30px;
}

footer p {
    text-align: center;
    color: #343a40;
    font-size: 12px;
    padding: 10px;
    margin: 10px;
  }
  
  footer a {
    color: #295f4e;
  }

  .google-map {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 10px;
    border: solid;
    border-radius: 4px;
    border-color: #343a40;
  }

.btn-primary {
    font-size: 18px;
    color: #fcfaf7;
    background-color: #295f4e ;
    border-radius: 4px;
    border: solid #295f4e;
    padding: 5px auto;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
  transition: 100ms ease-in-out;
}

.app-wrapper {
    max-width: 1100px;
    margin: 20px auto;
  }

.logo {
    width: 200px;
}


.card {
    border: none;
    background-color: #fcfaf7;
    border-radius: 4px;
    box-shadow: 0 5px 5px rgb(0 0 0 / 5%);
    padding: 5px;
    margin: 5px;
    margin-top: 20px;
    height: auto;
    width: 100%;
}

.card-title {
    font-size: 20px;
    font-weight: 600;
  }

  p.card-text {
    font-size: 16px;
    opacity: 85%;
  }



/* Homepage */
.hero-image {
    border-radius: 3px;
    margin-top: 30px;
    margin-bottom: 20px;
    max-width: 100%;
}

.experience-card {
    padding-bottom: 92px;
    padding-top: 90px;

}

/* Services */
.nav-btn {
    color: #fcfaf7;;
    line-height: 1;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #295f4e;
    opacity: 80%;
    margin-top: 5px;
  }

.services h2{
    font-weight: 600;
}

.services ul {
        text-align: left;
        margin-top: 20px;
}

.horizontal-card-one {
    text-align: right;
}

.horizontal-card-two {
    text-align: left;

}

/* Projects */
.projects a {
    color:#295f4e ;
}

.photos .img-fluid {
  border-radius: 4px;
  margin-bottom: 20px;
  border: 1px solid #343a40;
}

* {
  box-sizing: border-box;
}

.project-body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.project-img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}


.carousel {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  height: 500px;
  width: 500px;
  overflow: hidden;
  margin: 0 auto;
}

.image-container {
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
}

.project-btn {
  background-color: #295f4e;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  color: #fcfaf7;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  width: 49.5%;
}

.project-btn:hover {
  opacity: 0.9;
}

.project-btn:focus {
  outline: none;
}

.testimonial-body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  overflow: hidden;
  margin: 0;
  padding: 10px;
}

.testimonial-container  {
  background-color:#295f4e ;
  color: #fcfaf7;
  border-radius: 15px;
  margin: 20px auto;
  padding: 30px 70px;
  max-width: 768px;
  max-height: 800px;
  position: relative;
}

.fa-quote {
  color: rgba(255,255,255,0.3);
  font-size: 28px;
  position: absolute;
  top: 70px;
}

.fa-quote-right {
  left: 40px;
}

.fa-quote-left {
  right: 40px;
}

.testimonial {
  line-height: 28px;
  text-align: justify;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user .user-details { 
  margin-left: 10px;
}

.user .username {
  margin: 0;
}

.user .role {
  font-weight: normal;
  margin: 10px 0;
}

.progress-bar {
  background-color: white;
  height: 4px;
  width: 100%;
  animation: grow 10s linear infinite;
  transform-origin: left;
}

@keyframes grow {
  0% {
      transform: scaleX(0);
  }
}


@media(max-width: 768px) {
  .testimonial-container {
      padding: 20px 30px;
  }

  .fa-quote {
      display: none;
  }
}

